// Numbers
// =======

@function gcd($x, $y) {
  @while ($y != 0) {
    $z: $x % $y;
    $x: $y;
    $y: $z;
  }

  @return $x;
}

@mixin rem($property, $pxs...) {
  $rems: ();
  $changed: false;
  @each $pxlist in $pxs {
    $remlist: ();
    @each $px in $pxlist {
      $rem: rem($px);
      @if $rem != $px { $changed: true; }
      $remlist: append($remlist, $rem, space);
    }
    $rems: append($rems, $remlist, comma);
  }
  @if $changed { #{$property}: $rems; }
  #{$property}: $pxs;
}
