// Spacing
// =======

// Child-level
// -----------

@mixin leading($space: spacing, $horizontal: false) {
  @if type-of($space) == string { $space: size($space); }
  :not(:empty) + & {
    @if $horizontal { margin-left: $space; margin-top: 0; } @else { margin-top: $space; }
  }
}

@mixin trailing($space: spacing, $horizontal: false) {
  @if type-of($space) == string { $space: size($space); }
  & + :not(:empty) {
    @if $horizontal { margin-left: $space; margin-top: 0; } @else { margin-top: $space; }
  }
}

@mixin removed {
  @include leading(0);

  &:first-child {
    @include trailing(0);
  }
}

@mixin flush {
  @include leading(0);
  @include trailing(0);
}

// Parent-level
// ------------

@mixin vertical($space: spacing) {
  > * {
    @include trailing($space);
  }
}

@mixin horizontal($space: spacing) {
  > * {
    @include trailing($space, true);
  }
}

@mixin compact {
  @include vertical(0);
}
