// Block grids
// ===========

$columns: 6 !default;

@for $num from 1 through $columns {
  @include b("block-grid-#{$num}", true) {
    @extend %unstyled-list;

    margin-left: -1*size(spacing);

    @include compact;

    > * {
      display: inline-block;
      margin-top: size(spacing);
      padding-left: size(spacing);
      vertical-align: top;
      width: percentage(1/$num);

      @for $f from 1 through $num {
        &:nth-child(#{$f}) {
          margin-top: 0;
        }
      }
    }
  }
}
