// Block grids
// ===========

$columns: 6 !default;

@mixin block-grids($max, $prefix: '', $postfix: '') {
  %#{$prefix}block-grid#{$postfix} {
    @extend %unstyled-list;
    margin-left: -1*size(spacing);

    @include compact;

    > * {
      display: inline-block;
      margin-top: size(spacing);
      padding-left: size(spacing);
      vertical-align: top;
    }
  }

  @for $num from 1 through $max {
    .#{$prefix}block-grid-#{$num}#{$postfix} {
      @extend %#{$prefix}block-grid#{$postfix};

      > * {
        width: percentage(1/$num);

        @for $f from 1 through $num {
          &:nth-child(#{$f}) {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@include block-grids($columns);

@each $name, $query in $breakpoints {
  @include query($name) {
    @include block-grids($columns, $postfix: '\\@'+$name);
  }
}
