// Breadcrumbs
// ===========

.breadcrumbs {
  &__menu {
    @extend .ilist;


    @include horizontal(1rem);
    @include query(bravo) {
      white-space: nowrap;
    }

    > li {
      &::after, > %link {
        font-size: size(base);

        @include query(bravo) {
          font-size: size(medium);
        }
      }

      &::after {
        content: '>';
        display: inline-block;
        margin-left: 1rem;

        @include font($sans, $weight: semibold);
      }

      > %link {
        display: inline-block;

        @include font($sans, $weight: semibold);
      }
    }
  }
}
