// Forms
// =====

@include b(form) {
  @include e(errors) {
    background-color: lighten($red, 45%);
    border: 1px solid $red;
    color: darken($red, 20%);
    display: block;
    padding: size(base);

    &:empty {
      display: none;

      @include trailing(0);
    }

    @include trailing;
  }

  @include e(item) {
    margin-bottom: size(spacing);

    %tick {
      float: left;
      margin-bottom: 0;
      margin-top: 0.45em;

      + label {
        clear: none;
        color: #495357;
        display: block;
        padding-top: 0.25em;
        overflow: hidden;
        text-transform: none;
      }
    }
  }

  @include e(fields) {
    @extend #{b(layout)};
    @extend %unstyled-list;

    margin-left: -$gutter;
    margin-right: -$gutter;

    > li {
      @extend %clearfix;
      @extend #{be(layout, unit)};
      @extend #{be(form, item)};
    }
  }

  @include e(submit) {
    @include leading(0.75rem);
  }
}
