// Hero
// ====

@include b(hero) {
  $dark: darken($purple, 10%);
  $shadow: $dark;

  padding-bottom: 6.5rem;
  padding-top: 5rem;

  @include retina-background('../images/hero.png', 1235px 100%);

  #{bm(page, home)} & {
    margin-top: -1*size(spacing);
  }

  @include e(box) {
    border: 0.8rem solid $purple;
    box-shadow: 0 1.27rem 0.87rem 0 rgba($shadow, 0.27);
    margin-left: auto;
    margin-right: auto;
    max-width: $layout - $gutter*2;
    padding-top: 1.25rem;
    transition: all 550ms ease-out;

    @include compact;

    &:hover {
      box-shadow: 0 1.4rem 0.93rem 0 rgba($shadow, 0.35);
      transform: translateY(-0.2rem);

      #{be(hero, text)} {
        text-shadow: 0px 1.7rem 1.4rem rgba($shadow, 0.5), 0px 0.5rem 0.7rem rgba($shadow, 0.3);
        transform: translateY(-0.1rem);
      }
    }
  }

  @include e(text) {
    color: #fff;
    display: block;
    margin-left: -($wide - $layout)/2;
    margin-right: -($wide - $layout)/2;
    position: relative;
    z-index: 100;
    text-align: center;
    text-shadow: 0px 1.6rem 1.26rem rgba($shadow, 0.47), 0px 0.4rem 0.6rem rgba($shadow, 0.2);
    transition: all 550ms ease-out;

    @include font($script, $size: hero);
  }

  @include e(buttons) {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  @include e(button) {
    $bg: lighten($purple, 42.5%);
    @extend %unstyled-link;

    color: $dark;
    display: table-cell;
    padding: 2.25rem;
    position: relative;

    &::before {
      @extend %stretch;

      content: '';
      background-image: linear-gradient(to bottom, rgba($bg, 0), rgba($bg, 0.65));
      opacity: 0.15;
      transition: all 225ms ease-in-out;
    }

    @include attention {
      &::before {
        opacity: 1;
        transition: none;
      }
    }

    & + & {
      border-width: 0 0 0 3px;
      border-style: solid;
      border-image: linear-gradient(to top, $purple, rgba($purple, 0));
      border-image-slice: 1;
    }
  }

  @include e(question) {
    @extend %uppercase;

    color: $purple;
    display: block;
    position: relative;

    @include font($sans, $size: base);
  }

  @include e(action) {
    position: relative;

    @include font($serif, $size: big);

    &::after {
      content: '.';
    }
  }

  @include e(caret) {
    float: right;
    height: 2.5rem;
    fill: currentColor;
    position: relative;
    top: 0.5rem;
    width: 2rem;

    @include trailing(0);
  }
}
