// Hero
// ====

$hero-dark-color: darken($purple, 10%) !default;
$hero-shadow-color: $hero-dark-color !default;

.hero {
  padding: 4rem $gutter/2 3rem;

  @include retina-background('../images/hero.png', 1235px 100%);
  @include query(alpha) {
    padding-bottom: 6.5rem;
  }

  .page--home & {
    margin-top: -1*size(spacing);
  }

  &__box {
    border: 0.5rem solid $purple;
    box-shadow: 0 1.27rem 0.87rem 0 rgba($hero-shadow-color, 0.27);
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.25rem;
    transition: box-shadow 1.15s ease-out, transform 1.15s ease-out;

    @include query(alpha) {
      max-width: 80%;
    }
    @include query(bravo) {
      border-width: 0.8rem;
      max-width: $layout - $gutter*2;
    }

    &:hover {
      box-shadow: 0 1.4rem 0.93rem 0 rgba($hero-shadow-color, 0.35);
      transform: translateY(-0.2rem);

      .hero__text {
        text-shadow: 0px 1.7rem 1.4rem rgba($hero-shadow-color, 0.5), 0px 0.5rem 0.7rem rgba($hero-shadow-color, 0.3);
        transform: translateY(-0.1rem);
      }
    }

    .hero__text {
      @include query(alpha) {
        font-size: size(giant);
      }
      @include query(bravo) {
        font-size: size(hero);
        margin-left: -($wide - $layout)/2;
        margin-right: -($wide - $layout)/2;
      }
    }
  }

  &__text {
    color: #fff;
    display: block;
    line-height: 1.1;
    pointer-events: none;
    position: relative;
    text-align: center;
    text-shadow: 0px 1.6rem 1.26rem rgba($hero-shadow-color, 0.47), 0px 0.4rem 0.6rem rgba($hero-shadow-color, 0.2);
    transition: transform 1.15s ease-out, text-shadow 1.15s ease-out;
    z-index: 100;

    @include font($script, $size: huge);
  }

  &__buttons {
    display: table;
    table-layout: fixed;
    width: 100%;

    @include leading(0);
  }

  &__button {
    $bg: lighten($purple, 42.5%);
    @extend .block-link;

    color: $hero-dark-color;
    display: table-cell;

    &::before {
      background-image: linear-gradient(to bottom, rgba($bg, 0), rgba($bg, 0.65));
    }

    & + & {
      border-image: linear-gradient(to top, $purple, rgba($purple, 0));
      border-image-slice: 1;
      border-style: solid;
      border-width: 0 0 0 3px;
    }
  }

  &__question {
    @extend .block-link__description;

    color: $purple;
  }

  &__action {
    @extend .block-link__action;

    &::after {
      content: '.';
    }
  }

  &__caret {
    @extend .block-link__caret;
  }

  &--header {
    padding-bottom: 3rem;
    padding-top: 1rem;
    position: relative;
    z-index: 50;

    @include retina-background('../images/hero-header.png', 100% 100%);
    @include trailing(xxlarge);

    .hero__text {
      font-size: size(xxlarge);

      @include query(bravo, true) {
        padding: 0;
      }
      @include query(alpha) {
        font-size: size(huge);
      }
      @include query(bravo) {
        font-size: size(massive);
      }
    }

    .breadcrumbs {
      &, %link {
        color: #fff;
      }

      padding-top: 0.25rem;
      text-align: center;
      text-shadow: 0 0.4em 0.315em rgba($hero-shadow-color, 0.37), 0px 0.1em 0.15em rgba($hero-shadow-color, 0.1), 0 0 1em rgba($hero-shadow-color, 0.8);

      @include trailing(0.25rem);
    }
  }

  &--form {
    background-position: center 20px;
    background-size: 1235px 500px;
    padding-bottom: 3rem;
    padding-top: 2rem;
    min-height: 500px + 20px;

    @include query(alpha) {
      background-position: center 100px;
      min-height: 500px + 100px;
      padding-bottom: 6rem;
      padding-top: 3rem;
    }

    .hero__box {
      background-color: lighten($light, 47%);
      border: none;
      box-shadow: 0 0 0 1px rgba($hero-shadow-color, 0.1), 0 1.27rem 0.87rem 0 rgba($hero-shadow-color, 0.27);
      max-width: $layout/1.5;
      padding: size(spacing)+0.25rem size(spacing);

      &:hover {
        box-shadow: 0 0 0 1px rgba($hero-shadow-color, 0.1), 0 1.4rem 0.93rem 0 rgba($hero-shadow-color, 0.35);
      }
    }
  }
}
