// Link lists
// ==========

$link-list-caret-height: 2.5rem !default;
$link-list-caret-width: 2.5rem !default;

.link-list {
  color: $blue;

  @include compact;

  > * {
    display: block;

    + * {
      border-top: 1px dashed currentColor;
    }
  }

  &__link {
    @extend %unstyled-link;

    display: block;
    padding: size(spacing) $link-list-caret-width+size(spacing) size(spacing) size(spacing);
    position: relative;
    transition: all 175ms ease-in-out;

    @include attention {
      background-color: lighten($blue, 50%);
      transition: none;

      #{be(link-list, caret)} {
        transform: translateX(0.5rem);
      }
    }
  }

  &__meta {
    @extend %label;

    display: block;

    @include trailing(0.35em);
  }

  &__title {
    @extend %sidekick;

    display: block;

    @include trailing(0.55em);
  }

  &__caret {
    fill: currentColor;
    height: $link-list-caret-height;
    margin-top: -$link-list-caret-height/2 !important;
    position: absolute;
    right: size(spacing)-0.1rem;
    top: 50%;
    transition: transform 210ms ease-in-out;
    width: $link-list-caret-width;
  }
}
