// Link lists
// ==========

$link-list-caret-height: 2.5rem !default;
$link-list-caret-width: 2.5rem !default;

.link-list {
  color: $blue;

  @include compact;

  > * {
    display: block;

    + * {
      border-top: 1px dashed currentColor;
    }
  }

  &__link {
    @extend %unstyled-link;

    display: block;
    padding: size(spacing) $link-list-caret-width+size(spacing) size(spacing) size(spacing);
    position: relative;
    transition: all 175ms ease-in-out;

    @include attention {
      background-color: lighten($blue, 50%);
      transition: none;

      .link-list__caret {
        transform: translateX(0.5rem);
      }
    }
    @include query(bravo, true) {
      padding-right: $link-list-caret-width/2 + size(spacing);
    }
  }

  &__meta {
    @extend %label;

    color: desaturate(lighten($blue, 25%), 10%);
    display: block;

    @include trailing(0.35em);
    @include horizontal(size(spacing)/2);
    @include query(bravo, true) {
      font-size: size(small);
    }

    > * {
      display: inline-block;
    }

    > * + * {
      &::before {
        background-color: currentColor;
        border-radius: 100%;
        content: '';
        display: inline-block;
        height: 0.25em;
        margin-right: size(spacing)/2;
        vertical-align: middle;
        width: 0.25em;
      }
    }
  }

  &__title {
    @extend %sidekick;

    display: block;

    @include trailing(0.55em);
    @include query(alpha, true) {
      font-size: size(medium);
    }
  }

  &__teaser {
    @include query(bravo, true) {
      font-size: size(small);
    }
  }

  &__caret {
    fill: currentColor;
    height: $link-list-caret-height;
    margin-top: -$link-list-caret-height/2 !important;
    position: absolute;
    right: size(spacing)-0.1rem;
    top: 50%;
    transition: transform 210ms ease-in-out;
    width: $link-list-caret-width;

    @include query(bravo, true) {
      height: $link-list-caret-height/2;
      width: $link-list-caret-width/2;
    }
  }
}
