// Links
// =====

// Icon links
// ----------

%icon-link-bg-1 {
  &::before, &::after {
    left: -7px;
    top: 0;
  }

  &::before { @include retina-background("../images/watercolors/1.png", contain, center center); }
  &::after { @include retina-background("../images/watercolors/saturated/1.png", contain, center center); }
}

%icon-link-bg-2 {
  &::before, &::after {
    left: 0;
    top: 0;
  }

  &::before { @include retina-background("../images/watercolors/2.png", contain, center center); }
  &::after { @include retina-background("../images/watercolors/saturated/2.png", contain, center center); }
}

.icon-link {
  @extend %unstyled-link;

  color: $light;
  text-align: center;

  @include attention {
    color: $blue;

    .icon-link__icon {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }

      svg {
        filter: drop-shadow(0 0 23px rgba($blue, 0.75));
      }
    }
  }

  &:nth-of-type(odd) .icon-link__icon {
    @extend %icon-link-bg-2;
  }

  &:nth-of-type(2) .icon-link__icon {
    &::before, &::after {
      height: 8.25rem;
      left: 5px;
      transform: rotate(105deg);
    }
  }

  &:nth-of-type(3) .icon-link__icon {
    &::before, &::after {
      transform: rotate(250deg);
    }
  }

  &__icon {
    @extend %icon-link-bg-1;

    height: 9rem;
    position: relative;

    @include trailing(small);

    svg {
      filter: drop-shadow(0 0 23px rgba($light, 0.5));
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      * {
        stroke: #fff;
        fill: #fff;
      }
    }

    &::before, &::after {
      content: '';
      height: 100%;
      position: absolute;
      transition: opacity 150ms ease-in-out;
      width: 100%;
      z-index: -1;

      // FIXME: Safari hack to prevent flickering
      transform-style: preserve-3d;
      transform:translate3d(0,0,0);
    }

    &::after {
      opacity: 0;
    }
  }

  &__label {
    padding-left: 0.75em;
    padding-right: 0.75em;

    strong {
      color: $blue;
      display: block;
      line-height: strip-units(size(medium));

      @include font($sans, $size: medium, $weight: semibold);
    }
  }
}

// Block links
// -----------

.block-link {
  @extend %unstyled-link;

  display: block;
  line-height: strip-units(ms(1));
  padding: 1.15em;
  position: relative;
  text-align: left;

  @include font($serif);
  @include query(alpha) {
    font-size: size(medium);
    padding: 1.5em;
  }

  &::before {
    @extend %stretch;

    content: '';
    opacity: 0;
    transition: opacity 225ms ease-in-out;
  }

  @include attention {
    &::before {
      opacity: 1;
      transition: none;
    }
  }

  &__description, &__action {
    display: block;
    overflow: hidden;
    position: relative;
  }

  &__description {
    @extend %uppercase;

    @include font($sans, $size: small);
    @include trailing(0.25em);
    @include query(alpha) {
      font-size: size(base);
    }
  }

  &__caret {
    float: right;
    height: 1.5em;
    fill: currentColor;
    position: relative;
    top: 0.5em;
    width: 1em;

    @include query(bravo) {
      margin-left: strip-units(size(spacing))*1em;
      width: 1.5em;
    }

    @include trailing(0);
  }

  &__caret-left {
    float: left;

    @include query(bravo) {
      margin-left: 0;
      margin-right: strip-units(size(spacing))*1em;
    }
  }
}
