// Site footer
// ===========

// Stick
body {
  @include supports(flexbox) {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    [role="main"] {
      flex: 1;
    }
  }
}

@include b(site-footer) {
  color: desaturate(darken($gold, 30%), 25%);

  @include leading(massive);
  @include retina-background("../images/footer.png", 1349px 50px, bottom center);

  @include e(tax) {
    @extend %small;

    text-align: right;
  }

  @include e(image) {
    > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
