// Site footer
// ===========

// Stick
.wrapper {
  /**
   * 1. Avoid the IE 10-11 `min-height` bug.
   * 2. Set `flex-shrink` to `0` to prevent Chrome, Opera, and Safari from
   *    letting these items shrink to smaller than their content's default
   *    minimum size.
   */
  @include supports(flexbox) {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* 1 */

    > [role="main"] {
      flex: 1 0 auto; /* 2 */
    }

    > :not([role="main"]) {
      flex-shrink: 0; /* 2 */
    }
  }
}

.site-footer {
  color: desaturate(darken($gold, 30%), 25%);
  display: flex;

  @include leading(massive);
  @include retina-background("../images/footer.png", 1349px 50px, bottom center);

  &__address {
    .page--home & { text-align: center; }

    @include query(bravo) {
      &, .page & {
        text-align: left;
      }
    }
  }

  &__tax {
    @extend %small;

    .page--home & { text-align: center; }

    @include query(bravo) {
      &, .page & {
        text-align: right;
      }
    }
  }

  &__image {
    > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
