// Site header
// ===========

$site-header-max-height: 15vh;
$site-header-toolbar-size: 2rem;

.site-header {
  @extend .clearfix;

  position: relative;
  text-align: center;

  @include trailing(xlarge);
  @include query(site-nav-spread, true) {
    padding: size(spacing) size(spacing) 0;
  }

  &__logo {
    display: inline-block;
    max-height: $site-header-max-height;
    max-width: calc(100% - #{$site-header-toolbar-size}*2);
    position: relative;

    > .site-logo {
      &, > img {
        max-height: 100%;
      }
    }

    @include query(alpha) {
      max-height: none;
    }
  }

  @include query(site-nav-spread) {
    padding-top: size(large);
  }

  .page--home &, .page--donate & {
    @include trailing(0);
  }

  &__hamburger, &__search > .site-search {
    @extend %unstyled-button;

    margin-top: -$site-header-toolbar-size/2;
    position: absolute;
    top: 50%;

    @include compact;
    @include font($sans, $weight: semibold, $size: medium);
    @include trailing(0);

    > span {
      @include query(alpha, true) {
        display: none;
      }
    }

    > .sprite {
      display: inline-block;
      fill: currentColor;
      height: $site-header-toolbar-size;
      vertical-align: top;
      width: $site-header-toolbar-size;
    }
  }

  &__hamburger {
    color: $blue;
    left: size(spacing);
  }

  &__search {
    @include removed;
    
    > .site-search {
      color: $light;
      right: size(spacing);
    }
  }
}
