// Site nav
// ========

.has-open-nav {
  overflow: hidden;
}

body {
  &::before {
    background-color: $bg;
    content: '';
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    right: 100%;
    top: 9px;
    transition: opacity 175ms ease-in-out;
    z-index: 799;
  }

  &.has-open-nav::before {
    left: 0;
    opacity: 0.95;
  }
}

.site-nav {
  @include compact;
  @include query(site-nav-spread, true) {
    bottom: 0;
    overflow-y: auto;
    margin-top: size(large) !important;
    position: fixed;
    right: 100%;
    width: 100%;
    z-index: 800;

    @include leading(0);

    .has-open-nav & {
      right: 0;
    }
  }
  @include query(site-nav-spread) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: $wide;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &__menu {
    @extend %unstyled-list;

    @include compact;
    @include query(site-nav-spread, true) {
      > li {
        display: block;
        padding: size(base);
        text-align: center;

        > %link {
          display: inline-block;

          @include font($sans, $size: big, $weight: bold);
          @include query(bravo) {
            font-size: size(huge);
          }
        }
      }
    }
    @include query(site-nav-spread) {
      align-items: baseline;
      display: flex;
      flex: 1;
      justify-content: space-around;
      padding-bottom: 65px;

      > li {
        opacity: 0.35;
        position: relative;
        transition: opacity 175ms ease-in-out;

        > %link {
          display: block;
          white-space: nowrap;

          @include font($sans, $weight: semibold, $size: medium);
        }

        &:not(.site-nav__donate) {
          > %link {
            @extend %unstyled-link;

            padding: 0.75em;
          }

          &.is-active {
            opacity: 1 !important;

            .site-nav__caret {
              display: block;
            }
          }

          @include attention {
            opacity: 1 !important;
            transition: none;
          }
        }

        &.has-sub {
          @include attention {
            box-shadow: $dropdown-box-shadow;

            > %link {
              background-color: $dropdown-bg;
              box-shadow: inset 0 -1px 0 $dropdown-menu-border-color;
              color: $dropdown-menu-link-color;
              position: relative;
              z-index: $dropdown-z-index + 1;

              @include attention {
                background-color: $dropdown-hover-bg;
                color: $dropdown-menu-link-color-attention;
              }
            }

            > .dropdown {
              left: 0;
            }
          }
        }

        &:last-of-type {
          @include attention {
            > .dropdown {
              left: auto;
              right: 0;
            }
          }
        }
      }

      .page--hidden & {
        > li {
          opacity: 1 !important;
        }
      }
    }

    > li {
      position: relative;
    }
  }

  &__caret {
    display: none;
    fill: desaturate(lighten($blue, 30%), 10%);
    height: 1.75em;
    left: 50%;
    margin-left: -1.75em;
    margin-top: -0.55em !important;
    position: absolute;
    top: 100%;
    width: 3.5em;
  }

  &__logo {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &__donate {
    opacity: 1 !important;

    > %link {
      border-bottom-width: 2px;
      color: $purple;
      padding-bottom: 0.15em;
      transition: padding 115ms ease-in-out;
    }

    > .dropdown {
      @extend .dropdown--purple;
    }

    &.has-sub.has-sub {
      @include attention {
        > %link {
          background-color: $dropdown-purple-bg;
          border-bottom: none;
          color: $dropdown-menu-link-color;
          padding: 0.75em;

          @include attention {
            background-color: $dropdown-purple-hover-bg;
            color: $dropdown-menu-link-color-attention;
          }
        }
      }
    }
  }
}
