// Site nav
// ========

$overlay-bg: rgba($blue, 0.975) !default;

body {
  @include query(site-nav-spread, true) {
    &::before {
      background-color: $overlay-bg;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      width: 100%;
      top: 0;
      transition: opacity 175ms ease-in-out;
      visibility: hidden;
      z-index: $dropdown-z-index;
    }

    .has-open-nav &::before {
      opacity: 0.95;
      visibility: visible;
    }
  }
}

.site-nav {
  @include compact;
  @include query(site-nav-spread, true) {
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    left: 0;
    perspective: 1200px;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: $dropdown-z-index + 1;

    @include removed;

    .has-open-nav & {
      visibility: visible;
    }
  }
  @include query(site-nav-spread) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: $wide;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &__menu {
    @extend %unstyled-list;

    @include compact;
    @include query(site-nav-spread, true) {
      opacity: 0.4;
      transform: translateY(-25%) rotateX(35deg);
      transition: transform 0.5s, opacity 0.5s;

      .has-open-nav & {
        opacity: 1;
        transform: rotateX(0deg);
      }

      > li {
        display: block;
        padding: size(base);
        text-align: center;

        @include query(overlay-xshort) {
          padding-bottom: size(base)/2;
          padding-top: size(base)/2;
        }

        > %link {
          color: $bg;
          opacity: 0.8;
          display: inline-block;
          transition: opacity 125ms ease-in-out;

          @include font($sans, $size: xlarge, $weight: medium);
          @include attention {
            opacity: 1;
          }
          @include query(bravo) {
            font-size: size(huge);
          }
          @include query(overlay-short) {
            font-size: size(big);
          }
          @include query(overlay-xshort) {
            font-size: ms(2);
          }
        }
      }
    }
    @include query(site-nav-spread) {
      align-items: baseline;
      display: flex;
      flex: 1;
      justify-content: space-around;
      padding-bottom: 65px;

      > li {
        opacity: 0.35;
        position: relative;
        transition: opacity 175ms ease-in-out;

        > %link {
          display: block;
          white-space: nowrap;

          @include font($sans, $weight: semibold, $size: medium);
        }

        &:not(.site-nav__donate) {
          > %link {
            @extend %unstyled-link;

            padding: 0.75em;
          }

          &.is-active {
            opacity: 1 !important;

            .site-nav__caret {
              display: block;
            }
          }

          @include attention {
            opacity: 1 !important;
            transition: none;
          }
        }

        &.has-sub {
          @include attention {
            box-shadow: $dropdown-box-shadow;

            > %link {
              background-color: $dropdown-bg;
              box-shadow: inset 0 -1px 0 $dropdown-menu-border-color;
              color: $dropdown-menu-link-color;
              position: relative;
              z-index: $dropdown-z-index + 1;

              @include attention {
                background-color: $dropdown-hover-bg;
                color: $dropdown-menu-link-color-attention;
              }
            }

            > .dropdown {
              left: 0;
            }
          }

          &.site-nav__donate {
            @include attention {
              > %link {
                background-color: $dropdown-purple-bg;
                border-bottom: none;
                color: $dropdown-menu-link-color;
                padding: 0.75em;

                @include attention {
                  background-color: $dropdown-purple-hover-bg;
                  color: $dropdown-menu-link-color-attention;
                }
              }
            }
          }
        }

        &:last-of-type {
          @include attention {
            > .dropdown {
              left: auto;
              right: 0;
            }
          }
        }
      }

      .page--hidden & {
        > li {
          opacity: 1 !important;
        }
      }
    }

    > li {
      position: relative;
    }
  }

  &__caret {
    display: none;
    fill: desaturate(lighten($blue, 30%), 10%);
    height: 1.75em;
    left: 50%;
    margin-left: -1.75em;
    margin-top: -0.55em !important;
    position: absolute;
    top: 100%;
    width: 3.5em;
  }

  &__close {
    @extend %unstyled-link;

    height: size(large);
    position: absolute;
    right: size(spacing);
    top: 7.5%;
    width: size(large);

    > .sprite {
      fill: $bg;
      height: 100%;
      width: 100%;
    }
  }

  &__logo {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &__donate {
    opacity: 1 !important;

    > %link {
      border-bottom-width: 2px;
      color: $purple;
      padding-bottom: 0.15em;
      transition: padding 115ms ease-in-out;
    }

    > .dropdown {
      @extend .dropdown--purple;
    }
  }
}
