// Icon links
// ==========

%icon-link-bg-1 {
  &::before, &::after {
    left: -7px;
    top: 0;
  }

  &::before { @include retina-background("../images/watercolors/1.png", contain, center center); }
  &::after { @include retina-background("../images/watercolors/saturated/1.png", contain, center center); }
}

%icon-link-bg-2 {
  &::before, &::after {
    left: 0;
    top: 0;
  }

  &::before { @include retina-background("../images/watercolors/2.png", contain, center center); }
  &::after { @include retina-background("../images/watercolors/saturated/2.png", contain, center center); }
}

@include b(icon-link) {
  @extend %unstyled-link;

  color: $light;
  text-align: center;

  &:hover {
    color: $blue;

    #{be(icon-link, icon)} {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }

      svg {
        filter: drop-shadow(0 0 23px rgba($blue, 0.75));
      }
    }

    #{be(icon-link, label)} {

    }
  }

  &:nth-of-type(odd) #{be(icon-link, icon)} {
    @extend %icon-link-bg-2;
  }

  &:nth-of-type(2) #{be(icon-link, icon)} {
    &::before, &::after {
      height: 8.25rem;
      left: 5px;
      transform: rotate(105deg);
    }
  }

  &:nth-of-type(3) #{be(icon-link, icon)} {
    &::before, &::after {
      transform: rotate(250deg);
    }
  }

  @include e(icon) {
    @extend %icon-link-bg-1;


    height: 9rem;
    position: relative;

    @include trailing(small);

    svg {
      filter: drop-shadow(0 0 23px rgba($light, 0.5));
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      * {
        stroke: #fff;
        fill: #fff;
      }
    }

    &::before, &::after {
      content: '';
      height: 100%;
      position: absolute;
      transition: opacity 150ms ease-in-out;
      width: 100%;
      z-index: -1;

      // FIXME: Safari hack to prevent flickering
      transform-style: preserve-3d;
      transform:translate3d(0,0,0);
    }

    &::after {
      opacity: 0;
    }
  }

  @include e(label) {
    padding-left: 0.95em;
    padding-right: 0.95em;

    strong {
      color: $blue;
      display: block;
      line-height: strip-units(size(medium));

      @include font($sans, $size: medium);
    }
  }
}
