// Article
// =======
//
// Articles represent self-contained, often user-entered pieces of content.
//

%article__left, %article__right {
  display: block !important;

  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @include query(alpha) {
    margin-bottom: size(spacing);

    &:first-child {
      @include trailing(0);
    }

    + p:first-of-type {
      overflow: visible !important;
    }
  }
}

%article__left {
  @include query(alpha) {
    clear: left;
    float: left;
    margin-left: 0;
    margin-right: size(spacing);
  }
}

%article__right {
  @include query(alpha) {
    clear: right;
    float: right;
    margin-left: size(spacing);
    margin-right: 0;
  }
}

.article {
  > p:first-of-type {
    overflow: hidden;

    &::first-letter {
      @extend %drop-cap;
    }
  }

  > ul:not([class]) {
    @extend .bulleted-list;
  }

  > ol:not([class]) {
    @extend .numbered-list;
  }

  > dl:not([class]) {
    @extend .faq-list;

    // + figure:nth-child(n) {
    //   @extend %article__right;
    // }
  }

  figure {
    @extend %article__right;
    @include query(alpha) {
      max-width: 33.333%;
    }

    // &:nth-of-type(odd) {
    //   @extend %article__right;
    // }
    //
    // &:nth-of-type(even) {
    //   @extend %article__left;
    // }
  }

  > aside {
    @extend %article__right;
    @include query(alpha) {
      max-width: 45%;
    }
    @include query(bravo) {
      max-width: 40%;
    }
    @media screen and (min-width: #{$wide / 1rem * 1em}) {
      margin-right: -($wide - $layout)/2 !important;
    }
  }

  > .fast-fact {
    @extend .landmark;

    margin-left: size(spacing);
    margin-right: size(spacing);

    @include leading(xxxlarge);
  }

  > %heading {
    clear: both;
  }
}
