// Article
// =======
//
// Articles represent self-contained, often user-entered pieces of content.
//

.article {
  > .layout:first-of-type > .layout__unit > p:first-of-type::first-letter {
    @extend %drop-cap;
  }

  > .layout > .layout__unit {
    > h2 {
      @include leading(xxlarge);
    }
  }

  > ol {
    @extend .numbered-list;
  }

  figure {
    @include query(alpha) {
      margin-bottom: size(spacing);
      max-width: 33.333%;

      &:nth-of-type(odd) {
        float: right;
        margin-left: size(spacing);
      }

      &:nth-of-type(even) {
        float: left;
        margin-right: size(spacing);
      }
    }

  }
}
