// Lists
// =====

$list-marker-color: lighten($light, 15%);

%list {
  margin-left: 0;
  padding-left: 2.5em;
}

%unstyled-list {
  list-style-type: none;
  padding-left: 0;
}

ol, ul { @extend %list; }

.vlist {
  @extend %unstyled-list;

  > li {
    display: block;
  }
}

.hlist {
  @extend .clearfix;
  @extend %unstyled-list;

  @include horizontal;

  > li {
    float: left;
  }
}

.ilist {
  @extend %unstyled-list;

  @include horizontal;

  > li {
    display: inline-block;
    vertical-align: top;
  }
}

// Misc
// ----

/*ul*/.unordered-list,
/*ol*/.numbered-list {
  @extend %unstyled-list;

  > li {
    padding-left: size(spacing);
    text-indent: -1*size(spacing);

    @include query(alpha) {
      padding-left: size(spacing)*2;
      text-indent: -2*size(spacing);
    }

    &::before {
      display: inline-block;
      margin-right: size(spacing)/2;
      vertical-align: middle;
    }

    > :first-child {
      display: inline;

      ~ * {
        text-indent: 0;
      }
    }
  }
}

/*ul*/.unordered-list {
  > li::before {
    background-color: $list-marker-color;
    border-radius: 100%;
    content: '';
    height: 0.5rem;
    margin-left: size(spacing) - 0.5rem - size(spacing)/2;
    position: relative;
    top: -0.1em;
    width: 0.5rem;

    @include query(alpha) {
      margin-left: size(spacing)*2 - 0.5rem - size(spacing)/2;
    }
  }
}

/*ol*/.numbered-list {
  counter-reset: numbered-list;

  > li {
    counter-increment: numbered-list;

    &::before {
      border: 1.5px solid $list-marker-color;
      border-radius: 100%;
      color: $list-marker-color;
      content: counter(numbered-list);
      height: size(medium);
      line-height: strip-units(size(medium)-0.1rem);
      margin-left: size(spacing) - size(medium) - size(spacing)/2;
      position: relative;
      text-align: center;
      text-indent: 0;
      top: -0.3em;
      width: size(medium);

      @include font($sans, $weight: bold, $size: small);
      @include query(alpha) {
        margin-left: size(spacing)*2 - size(medium) - size(spacing)/2;
      }
    }
  }
}

/*dl*/.faq-list {
  > dt {
    @include font($sans, $weight: semibold, $size: medium);
    @include trailing(1em);
  }

  > dd {
    margin-left: 0;
    padding-left: 0;
  }
}

.logo-list {
  @extend %unstyled-list;

  > li {
    > %link {
      @extend %unstyled-link;

      display: block;
    }

    img {
      backface-visibility: hidden;
      display: block;
      filter: grayscale(100%) opacity(35%);
      transform: translateZ(0); // FIXME: hack
      transition: all 175ms ease-in-out;
    }

    @include attention {
      img {
        filter: grayscale(0%) opacity(100%);
      }
    }
  }
}