// Lists
// =====

%list {
  margin-left: 0;
  padding-left: 2.5em;
}

%unstyled-list {
  list-style-type: none;
  padding-left: 0;
}

ol, ul { @extend %list; }

.vlist {
  @extend %unstyled-list;

  > li {
    display: block;
  }
}

.hlist {
  @extend .clearfix;
  @extend %unstyled-list;

  @include horizontal;

  > li {
    float: left;
  }
}

.ilist {
  @extend %unstyled-list;

  @include horizontal;

  > li {
    display: inline-block;
    vertical-align: top;
  }
}
