// Visibility
// ==========

@mixin hidden {
  display: none !important;

  @include leading(0);

  &:first-child {
    @include trailing(0);
  }
}

.hidden {
  @include hidden;
}

// Queries
// -------

@each $breakpoint, $query in $breakpoints {
  #{bc(visible, $breakpoint)} {
    &, &-up { @extend .hidden; }
  }

  @include query($breakpoint) {
    @each $b, $query in $breakpoints {
      @if $b != $breakpoint {
        #{bc(visible, $b)} {
          display: none !important;
        }
        #{bc(hidden, $b)} {
          display: block !important;
        }
      }
    }

    #{bc(visible, $breakpoint)} {
      &, &-up { display: block !important; }
    }
    #{bc(hidden, $breakpoint)} {
      &, &-up { @include hidden; }
    }
  }
}
