// Visibility
// ==========

@mixin hidden {
  display: none !important;

  @include removed;
}

.hidden {
  @include hidden;
}

.invisible {
  height: 0 !important;
  width: 0 !important;
  position: absolute !important;
  visibility: hidden !important;

  @include removed;
}

// Queries
// -------

@each $breakpoint, $query in $breakpoints {
  .visible\@#{$breakpoint} {
    &, &-up { @extend .hidden; }
  }

  @include query($breakpoint) {
    @each $b, $query in $breakpoints {
      @if $b != $breakpoint {
        .visible\@#{$b) {
          display: none !important;
        }
        .hidden\@#{$b} {
          display: block !important;
        }
      }
    }

    .visible\@#{$breakpoint} {
      &, &-up { display: block !important; }
    }
    .hidden\@#{$breakpoint} {
      &, &-up { @include hidden; }
    }
  }
}
