// Visibility
// ==========

.hidden {
  @include hidden;
}

.invisible {
  height: 0 !important;
  width: 0 !important;
  position: absolute !important;
  visibility: hidden !important;

  @include removed;
}

// Queries
// -------

@each $breakpoint, $query in $breakpoints {
  @include query($breakpoint, true) {
    .visible\@#{$breakpoint} {
      @include hidden;
    }
  }
  @include query($breakpoint) {
    .hidden\@#{$breakpoint} {
      @include hidden;
    }
  }
}
